In [1]:
l = range(1,10)

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for x in l :
    print x,

1 2 3 4 5 6 7 8 9

In [6]:
lst = range(1, 100,5)

In [7]:
lst

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [8]:
for num in lst:
    print num,

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [9]:
name = "Rana"

In [10]:
for ch in name:
    print ch

R
a
n
a

In [11]:
country = 'Bangladesh'

In [12]:
for ch in country:
    print ch

B
a
n
g
l
a
d
e
s
h

In [13]:
len(country)

10

In [14]:
country.isupper()

False

In [15]:
country.upper()

'BANGLADESH'

In [16]:
l = [1,2,3,4,5]

In [17]:
l

[1, 2, 3, 4, 5]

In [18]:
for num in l:
    print num

1
2
3
4
5

In [19]:
for num in l:
    print 'something'

something
something
something
something
something

In [20]:
numbers = range(1,100)

In [22]:
for x in numbers:
    if x%5==0:
        print x,

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [25]:
for x in l:
    if x%2==0:
        print "Even %s"%(x)
    else:
        print "Odd %s"%(x)

Odd 1
Even 2
Odd 3
Even 4
Odd 5

In [26]:
10 % 3

1

In [27]:
89 % 7

5

In [28]:
for num in l:
    if num%2==0:
        print num

2
4

In [29]:
list_sum = 0
for num in l:
    list_sum+=num
print list_sum

15

In [30]:
sum =0
for x in numbers:
    sum+=x
print sum

4950

In [31]:
name = 'Rana'
for ch in name:
    print ch

R
a
n
a

In [34]:
tup = tuple(range(1,5))

In [35]:
tup

(1, 2, 3, 4)

In [36]:
type(tup)

tuple

In [37]:
l = [(2,4),(6,8),(10,12)]

In [38]:
l

[(2, 4), (6, 8), (10, 12)]

In [39]:
l[0]

(2, 4)

In [40]:
l[1]

(6, 8)

In [41]:
l[2]

(10, 12)

In [43]:
l[0][0]

2

In [44]:
l[1][0]

6

In [45]:
li = list(tup)

In [46]:
li

[1, 2, 3, 4]

In [47]:
li2 = list(l)

In [48]:
li2

[(2, 4), (6, 8), (10, 12)]

In [49]:
li2

[(2, 4), (6, 8), (10, 12)]

In [50]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [51]:
for (t1,t2) in l:
    print t1,t2

2 4
6 8
10 12

In [52]:
for (t1,t2) in l:
    print t1

2
6
10

In [53]:
for (t1,t2) in l:
    print t2

4
8
12

In [54]:
d = {'name':'rana','roll':90,'college':'sust'}

In [55]:
d

{'college': 'sust', 'name': 'rana', 'roll': 90}

In [56]:
for item in d:
    print item

college
name
roll

In [57]:
for item in d.values():
    print item

sust
rana
90

In [58]:
for key,value in d.iteritems():
    print key,value

college sust
name rana
roll 90

In [59]:
for k,v in d.items():
    print k,v

college sust
name rana
roll 90

In [61]:
for k,v in d.items():
    print k
    print v

college
sust
name
rana
roll
90