In [2]:
lst = []

for letter in 'rana':
    lst.append(letter)

In [3]:
lst

['r', 'a', 'n', 'a']

In [4]:
print lst

['r', 'a', 'n', 'a']

In [5]:
l = [letter for letter in 'rana']

In [6]:
l

['r', 'a', 'n', 'a']

In [9]:
even = [num%2==0 for num in range(10)]

In [10]:
even

[True, False, True, False, True, False, True, False, True, False]

In [11]:
lst

['r', 'a', 'n', 'a']

In [13]:
lst = [x**2 for x in range(10)]

In [14]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
lst = [x*2 for x in range(10)]

In [16]:
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
lst = [x*x for x in range(10)]

In [18]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
lst = [x**2 for x in range(11)]

In [22]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
lst = [number for number in range(11) if number%2==0]

In [25]:
lst

[0, 2, 4, 6, 8, 10]

In [26]:
even = [num for num in range(11) if num%2==0]

In [27]:
even

[0, 2, 4, 6, 8, 10]

In [28]:
odd = [ num for num in range(11) if num%2!=0]

In [29]:
odd

[1, 3, 5, 7, 9]

In [30]:
even

[0, 2, 4, 6, 8, 10]

In [31]:
lst = [num for num in range(100) if num%5==0]

In [32]:
lst

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [33]:
lst = []
for num in range(11):
    if num%2==0:
        lst.append(num)

In [34]:
lst

[0, 2, 4, 6, 8, 10]

In [39]:
odd = [num for num in  range(10) if num%2!=0]

In [40]:
odd

[1, 3, 5, 7, 9]

In [43]:
celsius = [0,10,20,1,34,5]
fahrenheit = [temp*(9/5.0)+32 for temp in celsius]

In [44]:
fahrenheit

[32.0, 50.0, 68.0, 33.8, 93.2, 41.0]

In [45]:
lst = [x**2 for x in range(11)]

In [46]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
lst = [x**2 for x in range(12)]

In [48]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [50]:
lst = [x**2 for x in [x**2 for x in range(11)]]

In [51]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]