In [1]:
print 'This is a string '

This is a string

In [2]:
s = 'String '
print 'Place my variable here: %s' %(s)

Place my variable here: String

In [4]:
name = "Rana"
print 'My name is %s .' %(name)

My name is Rana .

In [5]:
country = 'Bangladesh'
print 'My country is %s.' %(country)

My country is Bangladesh.

In [6]:
x = 13.13
print 'Place my variable here : %s' %(x)

Place my variable here : 13.13

In [7]:
print 'Floating point number : %1.2f' %(13.145)

Floating point number : 13.14

In [14]:
pi = 3.14159
print 'Pi = %1.4f' %(pi)

Pi = 3.1416

In [15]:
print 'Convert to string %s' %(123)

Convert to string 123

In [16]:
print 'Convert to string %r' %(123)

Convert to string 123

In [17]:
repr(123)

'123'

In [18]:
str(123)

'123'

In [23]:
print 'First : %s , Second: %s, Third %s' %('Hi','two',3)

First : Hi , Second: two, Third 3

In [24]:
print 'First: %s, Second: %s' %(2,2)

First: 2, Second: 2

In [29]:
print 'First: {x} Third: {y} Second {x}.'.format(x='inserted',y='two!')

First: inserted Third: two! Second inserted.

In [30]:
print 'My roll is {roll}'.format(roll=23)

My roll is 23

In [32]:
print 'Today is {day}.'.format(day = 'Sunday')

Today is Sunday.

In [33]:
print('One: {x}'.format(x = 'Insert!'))

One: Insert!