In [1]:
l = [1,2,3]

In [2]:
l[0]

1

In [3]:
l[2]

3

In [5]:
l[2]

3

In [6]:
my_dict = {'nayeem':19,'rana':90,'taleb':84}

In [7]:
my_dict

{'nayeem': 19, 'rana': 90, 'taleb': 84}

In [8]:
my_dict.keys()

['taleb', 'rana', 'nayeem']

In [9]:
my_dict.items()

[('taleb', 84), ('rana', 90), ('nayeem', 19)]

In [10]:
my_dict.values()

[84, 90, 19]

In [11]:
my_dict.viewitems()

dict_items([('taleb', 84), ('rana', 90), ('nayeem', 19)])

In [12]:
my_dict.viewkeys()

dict_keys(['taleb', 'rana', 'nayeem'])

In [13]:
my_dict.viewvalues()

dict_values([84, 90, 19])

In [15]:
my_dict['rana']

90

In [16]:
my_dict = {'k1':123,'k2':32.4,'k3':'word'}

In [17]:
my_dict

{'k1': 123, 'k2': 32.4, 'k3': 'word'}

In [18]:
my_dict['k1']

123

In [19]:
my_dict['k2']

32.4

In [20]:
my_dict['k3']

'word'

In [21]:
my_dict['new'] = 'world'

In [22]:
my_dict

{'k1': 123, 'k2': 32.4, 'k3': 'word', 'new': 'world'}

In [23]:
my_dict.has_key('new')

True

In [25]:
my_dict.pop('new')

'world'

In [26]:
my_dict

{'k1': 123, 'k2': 32.4, 'k3': 'word'}

In [27]:
my_dict['k3'].upper()

'WORD'

In [28]:
my_dict['k2']

32.4

In [29]:
my_dict['k1']-120

3

In [30]:
my_dict['k2']*2

64.8

In [31]:
my_dict['k1'] = my_dict['k1']*3

In [32]:
my_dict

{'k1': 369, 'k2': 32.4, 'k3': 'word'}

In [33]:
for x in my_dict:
    print x

k3
k2
k1

In [34]:
for x in my_dict:
    print x,my_dict[x]

k3 word
k2 32.4
k1 369

In [35]:
for key in my_dict.keys():
    print key

k3
k2
k1

In [37]:
my_dict['k1']

369

In [38]:
my_dict['univ'] = 'SUST'

In [39]:
my_dict

{'k1': 369, 'k2': 32.4, 'k3': 'word', 'univ': 'SUST'}

In [40]:
my_dict['k1']-=100

In [41]:
my_dict

{'k1': 269, 'k2': 32.4, 'k3': 'word', 'univ': 'SUST'}

In [42]:
d = {}

In [43]:
d['name'] = "Rana"

In [44]:
d['roll'] = 90

In [45]:
d['dep'] = "STAT"

In [46]:
d

{'dep': 'STAT', 'name': 'Rana', 'roll': 90}

In [47]:
nested_dict = {'k1':d}

In [48]:
nested_dict

{'k1': {'dep': 'STAT', 'name': 'Rana', 'roll': 90}}

In [49]:
nested_dict2 = {'k1':{'k2':{'k3':32}}}

In [50]:
nested_dict2

{'k1': {'k2': {'k3': 32}}}

In [51]:
nested_dict2['k1']

{'k2': {'k3': 32}}

In [52]:
nested_dict2['k1']['k2']

{'k3': 32}

In [53]:
nested_dict2['k1']['k2']['k3']

32

In [55]:
d['k1'] = 1

In [56]:
d['k2'] = 2
d['k3'] = 3

In [57]:
d

{'dep': 'STAT', 'k1': 1, 'k2': 2, 'k3': 3, 'name': 'Rana', 'roll': 90}

In [58]:
nested_dict.clear()

In [59]:
nested_dict

{}

In [60]:
d.keys()

['name', 'dep', 'k3', 'k2', 'k1', 'roll']

In [61]:
d.values()

['Rana', 'STAT', 3, 2, 1, 90]

In [62]:
d.items()

[('name', 'Rana'),
 ('dep', 'STAT'),
 ('k3', 3),
 ('k2', 2),
 ('k1', 1),
 ('roll', 90)]

In [64]:
for x in d.iteritems():
    print x

('name', 'Rana')
('dep', 'STAT')
('k3', 3)
('k2', 2)
('k1', 1)
('roll', 90)

In [65]:
for x in d.iterkeys():
    print x

name
dep
k3
k2
k1
roll

In [67]:
for x in d.itervalues():
    print x

Rana
STAT
3
2
1
90

In [68]:
for key,val in d.iteritems():
    print key,val

name Rana
dep STAT
k3 3
k2 2
k1 1
roll 90